.caixa{
    width: 600px;
    height: 100%;
    border: 2px solid red;
    
}

.whats{
    position: sticky;
    top: 0;

}

h4{ j
    display: inline-block;
    border: 2px solid green;
    
    background-color: greenyellow;
}